body {
  background: #d9dad7;
  font-family: "Courier New", Courier, monospace;
}
.App-header {
  margin: 30px auto 0;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

section {
  max-width: 850px;
  margin: 30px auto 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px 8px 8px;
}
.Search section {
  background: white;
  max-width: 750px;
  padding: 15px;
  opacity: 0.7;
  box-shadow: 4px 8px 8px;
}
.Search input {
  width: 100%;
  padding: 8px;
}
footer {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
