body {
  background: #d9dad7;
}
.App-header {
  margin: 30px 0;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  color: white;
}

section {
  max-width: 850px;
  margin: 50px auto 0;
  border-radius: 5px;
}
.Search section {
  background: white;
  max-width: 750px;
  padding: 15px;
  opacity: 0.8;
}
.Search input {
  width: 100%;
  padding: 8px;
}
footer {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
