.Phonetic {
  height: 50px;
}
.Phonetic a {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #295f4e;
  margin-left: 10px;
  transition: all 200 ms ease-in-out;
}
.Phonetic a:hover {
  background-color: #295f4e;
}
